<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-5 mb-3">
            <label class="form-label">Member Name</label>
            <input id="input-memberName" type="text" formControlName="memberName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.memberName.errors }" />
            <div *ngIf="submitted && f.memberName.errors" class="invalid-feedback">
                <div *ngIf="f.memberName.errors.required">Member Name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label class="form-label">Number Of Exp</label>
            <input id="input-numberOfExp" type="number" formControlName="numberOfExp" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.numberOfExp.errors }" />
            <div *ngIf="submitted && f.numberOfExp.errors" class="invalid-feedback">
                <div *ngIf="f.numberOfExp.errors.required">Number Of Exp is required</div>
                <div *ngIf="f.numberOfExp.errors.min">Min Number Of Exp is 4 years</div>
                <div *ngIf="f.numberOfExp.errors.max">Max number Of Exp is 60 years</div>
            </div>
        </div>
        <div class="col-5 mb-3">
            <label class="form-label">Skill Sets</label>
            <checkbox-group id="check-skillSets" formControlName="skillSets" class="form-control height-180-overflow"
                [ngClass]="{ 'is-invalid': submitted && (f.skillSets.errors || form.hasError('requireCheckboxToBeChecked')) }">
                <checkbox *ngFor="let skill of skillList; let i = index" value="{{skill}}">{{skill}}</checkbox>
            </checkbox-group>
            <div *ngIf="submitted && f.skillSets.errors" class="invalid-feedback">
                <div *ngIf="f.skillSets.errors.required">Skill Sets is required</div>
            </div>
            <div class="bs-form-invalid-color-o" *ngIf="submitted && form.hasError('requireCheckboxToBeChecked')">Min 3
                skills requird</div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label class="form-label">Project Start Date</label>
            <input id="input-projectStartDate" type="date" formControlName="projectStartDate" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && (f.projectStartDate.errors || form.hasError('dateLessThan')) }" />
            <div *ngIf="submitted && f.projectStartDate.errors" class="invalid-feedback">
                <div *ngIf="f.projectStartDate.errors.required">Project Start Date is required</div>
            </div>
        </div>
        <div class="col-5 mb-3">
            <label class="form-label">Project End Date</label>
            <input id="input-projectEndDate" type="date" formControlName="projectEndDate" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && (f.projectEndDate.errors || form.hasError('dateLessThan')) }" />
            <div *ngIf="submitted && f.projectEndDate.errors" class="invalid-feedback">
                <div *ngIf="f.projectEndDate.errors.required">Project End Date is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mb-3">
            <div class="bs-form-invalid-color-o" *ngIf="submitted && form.hasError('dateLessThan')">Project Start Date
                must be less than Project End
                Date or Project End Date must be greather than Project Start Date</div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label class="form-label">Allocation Percentage</label>
            <input id="input-allocationPercentage" type="text" formControlName="allocationPercentage"
                class="form-control" appPercentageDirective
                [ngClass]="{ 'is-invalid': submitted && f.allocationPercentage.errors }" />
            <div *ngIf="submitted && f.allocationPercentage.errors" class="invalid-feedback">
                <div *ngIf="f.allocationPercentage.errors.required">Allocation Percentage is required</div>
            </div>
        </div>
        <div class="col-5 mb-3">
            <label class="form-label">Additional Info</label>
            <input id="input-additionalInfo" type="text" formControlName="additionalInfo" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.additionalInfo.errors }" />
            <div *ngIf="submitted && f.additionalInfo.errors" class="invalid-feedback">
                <div *ngIf="f.additionalInfo.errors.required">Additional Info is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label class="form-label">Role</label>
            <select id="select-role" formControlName="role" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button id="btn-save-team-Member" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/manage-team-member" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>