<div class="card mt-4">
    <h4 class="card-header">Project Management Tracker</h4>
    <div class="card-body">
        <p>Welcome !... <strong>{{teamMember.memberName}}</strong>.</p>
        <p>Your role is: <strong>{{teamMember.role}}</strong>.</p>
        <p>Project Start Date: <strong>{{teamMember.projectStartDate | date: 'dd/MM/yyyy'}}</strong> | Project End Date:
            <strong>{{teamMember.projectEndDate | date: 'dd/MM/yyyy'}}</strong> | Allocation Percentage:
            <strong>{{teamMember.allocationPercentage}} %</strong>
        </p>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="width-10">Team Member Id</th>
            <th class="width-10">Team Member Name</th>
            <th class="width-10">Task Name</th>
            <th class="width-10">Deliverables</th>
            <th class="width-10">Task Start Date</th>
            <th class="width-10">Task End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of teamMemberTasks">
            <td>{{user.teamMemberId}}</td>
            <td>{{user.teamMemberName}}</td>
            <td>{{user.taskName}}</td>
            <td>{{user.deliverables}}</td>
            <td>{{user.taskStartDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.taskEndDate | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr *ngIf="!teamMemberTasks">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
        <tr *ngIf="teamMemberTasks?.length==0">
            <td colspan="6" class="text-center">
                No Records Found
            </td>
        </tr>
    </tbody>
</table>